package {{package}};

public class {{className}} {

private final String {{field.name}};

public {{className}}(String {{field.name}}) {
this.{{field.name}} = {{field.name}};
}

public String get{{field.nameCapitalized}}() {
return {{field.name}};
}
}
