package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

public class {{name}}Mapper {

public static {{name}}Response toResponse({{name}} entity) {
return new {{name}}Response(
{{#fields}}             entity.get{{nameCapitalized}}(){{^last}},{{/last}}
{{/fields}}
);
}

public static {{name}} toEntity({{name}}Request request) {
return new {{name}}(
{{#fields}}            request.get{{nameCapitalized}}(){{^last}},{{/last}}
{{/fields}}
);
}

public static Create{{name}}Command toCommand({{name}}Request request) {
return new Create{{name}}Command(
{{#fields}}            {{entity}}{{nameCapitalized}}.create(request.get{{nameCapitalized}}()){{^last}},{{/last}}
{{/fields}}
);
}

public static Update{{name}}Command toUpdateCommand({{name}}Request request) {
return new Update{{name}}Command(
{{#fields}}            {{entity}}{{nameCapitalized}}.create(request.get{{nameCapitalized}}()){{^last}},{{/last}}
{{/fields}}
);
}


public static Delete{{name}}Command toDeleteCommand({{name}}Id id) {
return new Delete{{name}}Command(id);
}

}
