package {{package}};

import java.io.Serializable;
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.Setter;
import lombok.Builder;
import java.util.Date;
import java.util.List;

@Getter
@Setter
@AllArgsConstructor
@NoArgsConstructor
@Builder
public class {{name}}PagedResponse implements Serializable {

	private List<{{name}}Response> content;
	private int page;
	private int size;
	private long totalElements;
	private long totalPages;

	public static  {{name}}PagedResponse from(List<{{name}}Response> content, int page, int size, long totalElements,long totalPages) {
		return new {{name}}PagedResponse(content, page, size, totalElements, totalPages);
		}
}
