package {{package}};

{{#imports}}
import {{.}};
{{/imports}}
import {{repositoryPackage}}.{{name}}Repository;
import {{queryPackage}}.FindBy{{field.nameCapitalized}}{{name}}Query;
import {{dtoPackage}}.{{name}}Response;
import lombok.RequiredArgsConstructor;
import org.axonframework.queryhandling.QueryHandler;
import org.springframework.stereotype.Component;

@Component
@RequiredArgsConstructor
public class FindBy{{field.nameCapitalized}}{{name}}Handler {

private final {{name}}Repository repository;

@QueryHandler
public Flux<{{name}}Response> handle(FindBy{{field.nameCapitalized}}{{name}}Query query) {
	return repository
	.findByField{{field.nameCapitalized}}(query.get{{field.nameCapitalized}}())
	.map({{name}}Mapper::toResponse)
	;
}
}
